{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="display-4 d-flex justify-content-center align-items-center">Platos a la carta</h1>

<ul>
    {% for task in tasks %}
    <li>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'imagenes\images.jpg' %}" class="card-img-top" alt="platillo">
            <div class="card-body column d-flex justify-content-center align-items-center">
              <h5 class="card-title"><a href="{% url 'task_detail' task.id %}"></h5>
              <p class="card-text">{{task.title}}</p>
            </div>
            <div class="card-body column d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    <p>{{task.datecompleted|date:'M j Y:i'}}</p>
    </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}